* {
	margin: 0px;
	padding: 0px;
}

body {
  font-family: sans-serif;
  padding: 5px;
  color: #990033;
}

header, section, nav, footer {
  background-color: #ffe6e6;  
}

header {
	text-align: center;
	font-size: 30px;
	padding: 15px;
	border: 3px solid #ff9999;
}

.container {
	font-size: 1em;
}

.dividir{
	border: 1px solid #ff9999;
	border-spacing: 10px;
	padding: 10px;
}

/* 
a 			link
a:link		link normal não visitado
a:visited	link que o usuário visitou
a:hover		link quando o usuário passa o mouse
a:active	link no momento em que é clicado
text-decoration: remove o sublinhado do link
*/

a:link, a:visited, a:active {
	 color: #990033;
}

a:hover{
	color: #ff9999;
}

section { 
	text-align: justify;
	font-size: 15px;
	border: 3px solid #ff9999;
	margin: 5px;
  	padding: 15px;
}

h3, h2 {
	text-align: center;
	padding: 20px;
}

p {
	text-align: justify;
	font-size: 16px;
}

form {
	padding: 20px;
}

aside a {
	font-size: 12px;
}

footer { 
	font-size: 12px;
	padding: 5px;
	border: 3px solid #ff9999;
}

nav {
	font-size: 14px;
}


/* Cadastro: textarea - caixa de texto da observação */
.observacao {
	width: 300px;
	height: 150px;
}

/* TAMANHO DOS TEXTOS
	px -> tamanho fixo
	tamanho padrão dos parágrafos - 16px 
	% -> tamanho relativo
	100% é o tamanho padrão do browser
	16px = 100%
	em -> tamanho relativo ao container pai

	negrito = font-weight = normal, bold, 100 a 900
	itálico = font-style  = italic
	text-decoration = underline / overline / line-through

*/

/* Contato HTML */

.contato {
	padding: 10px;
	margin: 10px;
	font-size: 1.25em;
}
